body {
	padding: 0;
	margin: 0;
	background: #f2f6e9;
}

/*--- navigation bar ---*/



.nav-link,
.navbar-brand {
    color: rgb(0,0,0);
    cursor: pointer;
    display: inline-block; 
    max-width: 75px; 
    max-height: 45px;
    
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}

.img-fluid {
    max-width: 100%; 
    height:auto;
}

/*--- header ---*/

.header {
	background-image: url('main.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(97, 98, 148, 0.5);
}

.projects h1 {
    color: black;
    text-align: center;
    padding-top: 60px;
}

.projects {
    background-color: rgb(236, 243, 248);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.description h1 {
	color: rgb(255, 255, 255);
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
	border: 1px solid #ffffff;
	background: #ffffff;
	border-radius: 0;
	color: rgb(0, 0, 0);
}

.description button:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #000;
}

/*--- feature section ---*/

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
    
}

.features .form-control,
.features input {
	border-radius: 0;
}

.features .btn {
	background-color: #ffffff;
	border: 1px solid #ffffff;
	color: rgb(0, 0, 0);
	margin-top: 20px;
}

.features .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}

.contact {
    padding-top: 100px
}

/*--- footer ---*/

.page-footer {
	background-color: #222;
	color: #ccc;
	padding: 60px 0 30px;
}

.footer-copyright {
	color: #666;
	padding: 40px 0;
}

/*--- media queries ---*/

@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;
	}
	
	.features {
		margin: 0;
	}

}

.img-thumbnail, .vid-thumbnail{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 2%;
  }
  
.img-thumbnail:hover, .vid-thumbnail:hover{
    opacity: 0.7;
  }
  
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */    

  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 75%;
    max-height: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  


  #headerPopup{
    width:75%;
    margin:0 auto;
  }
  
  #headerPopup iframe{
    width:100%;
    margin:0 auto;
  }
  
  
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
  